<!DOCTYPE html>
<html>
<head>
  <title>Project Vegas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
    <tr>Project Vegas</tr>
    </br>
</div>

<div id="wrapper">
        <tr>
           <gameButton type="gameButton">Blackjack</gameButton>
        </tr>
        <tr>
           <gameButton type="gameButton">Texas Hold 'em</gameButton>
        </tr>
        <tr>
           <gameButton type="gameButton">Slots</gameButton>
        </tr>
</div>

<div id="wrapper">
        <tr>
           <gameButton type="gameButton">Baccarat</gameButton>
        </tr>
        <tr>
           <gameButton type="gameButton">Roulette</gameButton>
        </tr>
        
</div>

</body>
</html>
